<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h3> Features of Ejs Template Engine: </h3>
    <p>This is a dynamic message: <%= message %></p>
    <hr>

    <h5>JavaScript Embedding & Data Variable: <%= title %>!</h5>

        <% if (isAdmin) { %>
        <p>Welcome, Admin!</p>
        <% } else { %>
        <p>Welcome, Guest!</p>
        <% } %>

      <hr>
      
      <h5>Conditional Statements and Loops: </h5>

      <ul>
        <% for (let i = 1; i <= 5; i++) { %>
          <li>Item <%= i %></li>
        <% } %>
      </ul>
      <hr>
      <h5>  Partials and Includes: </h5>
      <!-- index.ejs - using the partial -->
        <%- include('header') %>

        <p>Welcome to my website!</p>

</body>
</html>
